<template>
	<template if:true={showSpinner}>
		<lightning-spinner alternative-text="Loading..." variant="brand"></lightning-spinner>
	</template>
	<lightning-card title="LWC APP">
		<lightning-layout>
			<lightning-layout-item size="6" padding="around-small">
				<lightning-button variant="brand" label="New Contact" title="New Contact" onclick={newContact} class="slds-m-left_x-small"></lightning-button>
				<lightning-button variant="success" label="Save" title="Save" onclick={handleSave} class="slds-m-left_x-small"></lightning-button>
				<lightning-button variant="brand" label="New Account" title="New Account" onclick={handleClick} class="slds-m-left_x-small"></lightning-button>
				<c-account-cmp account-id={accountId}></c-account-cmp>
				<template for:each={contacts} for:item="contact">
					<c-contact-cmp contact-item={contact} account-id={accountId} contact-id={contact.Id} arr-contact={contacts} ondelete={handleDelete} key={contact.UUIDCont__c} uuid-cont={contact.UUIDCont__c}></c-contact-cmp>
				</template>
			</lightning-layout-item>
		</lightning-layout>
	</lightning-card>
</template>
