<template>
	<template if:true={displayList}>
		<lightning-datatable data={displayList} columns={columns} key-field="id" hide-checkbox-column="true" onrowaction={handleRowActions}></lightning-datatable>
	</template>
	<template if:false={displayList}>
		<h1>Non sono disponibili dati per la ricerca</h1>
	</template>
</template>
