<template>
	<lightning-card title="Account Form">
		<lightning-record-edit-form object-api-name="Account">
			<p>
				<lightning-input-field field-name="Name" class="validate" value={account.Name} required></lightning-input-field>
			</p>
			<p>
				<lightning-input-field field-name="Privacy__c" value={account.Privacy__c}></lightning-input-field>
			</p>
			<p>
				<lightning-input-field field-name="BusinessType__c" value={account.BusinessType__c}></lightning-input-field>
			</p>
			<p>
				<lightning-input-field field-name="BillingStreet" class="validate" value={account.BillingStreet} required></lightning-input-field>
			</p>
			<p>
				<lightning-input-field field-name="BillingCity" class="validate" value={account.BillingCity} required></lightning-input-field>
			</p>
			<p>
				<lightning-input-field field-name="BillingCountry" class="validate" value={account.BillingCountry} required></lightning-input-field>
			</p>
			<p>
				<lightning-input-field field-name="ActivationDate__c" value={account.ActivationDate__c}></lightning-input-field>
			</p>
		</lightning-record-edit-form>
	</lightning-card>
</template>
