<template>
	<template if:true={showSpinner}>
		<lightning-spinner alternative-text="Loading..." variant="brand"></lightning-spinner>
	</template>
	<lightning-card title="Contact Form">
		<lightning-record-edit-form object-api-name="Contact">
			<p>
				<lightning-input-field field-name="FirstName" value={contact.FirstName}></lightning-input-field>
			</p>
			<p>
				<lightning-input-field field-name="LastName" value={contact.LastName} class="validate" required></lightning-input-field>
			</p>
			<p>
				<lightning-input-field field-name="Birthdate" value={contact.Birthdate}></lightning-input-field>
			</p>
			<p>
				<lightning-input-field field-name="Phone" value={contact.Phone}></lightning-input-field>
			</p>
			<p>
				<lightning-input-field field-name="Email" value={contact.Email}></lightning-input-field>
			</p>
			<p>
				<lightning-input-field field-name="Fax" value={contact.Fax}></lightning-input-field>
			</p>
			<p>
				<lightning-input-field field-name="FiscalCode__c" value={contact.FiscalCode__c} class="validate" required></lightning-input-field>
			</p>
			<p>
				<lightning-input-field field-name="PreferedContact__c" value={contact.PreferedContact__c} class="validate" required></lightning-input-field>
			</p>
			<lightning-button variant="destructive" label="Delete" title="Delete" onclick={handleDelete} class="slds-m-left_x-small"></lightning-button>
		</lightning-record-edit-form>
	</lightning-card>
</template>
