<template>
	<h1>Ricerca Account
	</h1>
	<lightning-input label="Account Name" name="AccountName" onchange={handleChange} data-id="AccountName"></lightning-input>
	<lightning-input label="Country" name="Country" onchange={handleChange} data-id="Country"></lightning-input>
	<div class="slds-m-top_medium">
		<c-table-cmp display-list={accValues}></c-table-cmp>
	</div>
</template>